<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmcFJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Battle</title>

    <style>
      .pFrame {
        box-sizing: border-box;
        background-color: #f7f6f6;
        border: solid 1px transparent;
        cursor: pointer;
        border-radius: 2px;
        transition: 0.2s all ease-out;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.16), 0 0 1px 0 rgba(0,0,0,0.16)
      }

      .pIcon {
        width: 60px; 
      }
    </style>    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="navbar bg-light">
            <div class="navbar-brand">
              RPG Battle UI
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form action="/" 
        </div>
      </div>

      <div class="row" id="pStack">
        <div class="col">
          <% 
            var i = 0
            party.players.forEach(function(party, i){ %> 
              <%- include('partials/battle/unit', {x: [i, party]}); %>
          <% 
            i++;
            });
          %>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </body>
</html>
